In [1]:
import pandas as pd

## Make data

In [29]:
lists = [[5,6],[4,5,6,7],[5],[4,5,7],[0,1,2,3],[0,3],[2,3],[1]]
tuples = [[(4,1),(5,1),(6,2)],[(4,2)],[(4,3),(5,1)],[(4,1),(5,1),(7,2)],[(0,1)],[(0,1),(1,2),(3,2)],\
          [(0,1),(1,1),(2,1),(3,1)],[(2,2),(3,2)]]

df = pd.DataFrame({'apptype': ['e','e', 'e', 'e', 'o', 'o', 'o', 'o'], 'grade': lists, 'gender': lists, 'mc': lists, \
                   'mch': [[5,6],[5,6,7],[5],[4,5,7],[0,1,3],[0,3],[2,3],[1]], 'occ': lists, 'travel': lists, \
                   'virtual': [[5,6],[4,5,6,7],[5],[4,5,7],[0,1,2,3],[0,3],[3],[1]], 'type': lists, 'ambition': tuples, \
                   'freetext': [[(4,0),(5,0),(6,0),(7,0)],[(4,0),(5,0),(6,0),(7,0)],[(4,0),(5,0),(6,0),(7,0)],\
                                [(4,0),(5,0),(6,0),(7,0)],[(0,1),(1,0.1),(2,-.8),(3,-.2)],[(0,0),(1,0),(2,0),(3,.25)],\
                                [(0,1),(1,.1),(2,-.8),(3,.2)],[(0,0),(1,0),(2,0),(3,.2)]]})

In [30]:
df

,ambition,apptype,freetext,gender,grade,mc,mch,occ,travel,type,virtual
0,"[(4, 1), (5, 1), (6, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]"
1,"[(4, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]"
2,"[(4, 3), (5, 1)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]",[5],[5],[5],[5],[5],[5],[5],[5]
3,"[(4, 1), (5, 1), (7, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]"
4,"[(0, 1)]",o,"[(0, 1), (1, 0.1), (2, -0.8), (3, -0.2)]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]"
5,"[(0, 1), (1, 2), (3, 2)]",o,"[(0, 0), (1, 0), (2, 0), (3, 0.25)]","[0, 3]","[0, 3]","[0, 3]","[0, 3]","[0, 3]","[0, 3]","[0, 3]","[0, 3]"
6,"[(0, 1), (1, 1), (2, 1), (3, 1)]",o,"[(0, 1), (1, 0.1), (2, -0.8), (3, 0.2)]","[2, 3]","[2, 3]","[2, 3]","[2, 3]","[2, 3]","[2, 3]","[2, 3]",[3]
7,"[(2, 2), (3, 2)]",o,"[(0, 0), (1, 0), (2, 0), (3, 0.2)]",[1],[1],[1],[1],[1],[1],[1],[1]

## Do calculations
1. get individuals with the opposite apptype
2. get the intersection of the entries in gender, grade, mc, mch, oc, travel, type, and virtual
3. ...

In [42]:
df.iloc[1]

ambition                            [(4, 2)]
apptype                                    e
freetext    [(4, 0), (5, 0), (6, 0), (7, 0)]
gender                          [4, 5, 6, 7]
grade                           [4, 5, 6, 7]
mc                              [4, 5, 6, 7]
mch                                [5, 6, 7]
occ                             [4, 5, 6, 7]
travel                          [4, 5, 6, 7]
type                            [4, 5, 6, 7]
virtual                         [4, 5, 6, 7]
scores                                    {}
Name: 1, dtype: object

In [45]:
current = df.iloc[1]
opposite_type = 'e' if current['apptype'] == 'o' else 'o'
opposite_indices = list(df[df['apptype'] == opposite_type].index)
actual_matches = set(current['gender']).intersection(set(current['grade']), set(current['mc']), set(current['mch']), \
                            set(current['occ']), set(current['travel']), set(current['type']), set(current['virtual']), \
                            set([index for (index, count) in current['ambition']]))

In [46]:
print('possible: {}  -- actual: {}'.format(opposite_indices, actual_matches))

possible: [4, 5, 6, 7]  -- actual: set()

In [34]:
scores = dict()
for index, count in current['ambition']:
    if index in actual_matches:
        scores[index] = count
        
for index, score in current['freetext']:
    if index in scores:
        scores[index] += score

In [35]:
print(scores)

{0: 1, 3: 2.25}

In [53]:
def get_scores(row):
    actual_matches = set(row['gender']).intersection(set(row['grade']), set(row['mc']), set(row['mch']), \
                            set(row['occ']), set(row['travel']), set(row['type']), set(row['virtual']), \
                            set([index for (index, count) in row['ambition']]))
    scores = dict()
    for index, count in row['ambition']:
        if index in actual_matches:
            scores[index] = count

    for index, score in row['freetext']:
        if index in scores:
            scores[index] += score
    
    return scores

In [54]:
df['scores'] = df.apply(get_scores, axis=1)
print(df)

                           ambition apptype  \
0          [(4, 1), (5, 1), (6, 2)]       e
1                          [(4, 2)]       e
2                  [(4, 3), (5, 1)]       e
3          [(4, 1), (5, 1), (7, 2)]       e
4                          [(0, 1)]       o
5          [(0, 1), (1, 2), (3, 2)]       o
6  [(0, 1), (1, 1), (2, 1), (3, 1)]       o
7                  [(2, 2), (3, 2)]       o

                                   freetext        gender         grade  \
0          [(4, 0), (5, 0), (6, 0), (7, 0)]        [5, 6]        [5, 6]
1          [(4, 0), (5, 0), (6, 0), (7, 0)]  [4, 5, 6, 7]  [4, 5, 6, 7]
2          [(4, 0), (5, 0), (6, 0), (7, 0)]           [5]           [5]
3          [(4, 0), (5, 0), (6, 0), (7, 0)]     [4, 5, 7]     [4, 5, 7]
4  [(0, 1), (1, 0.1), (2, -0.8), (3, -0.2)]  [0, 1, 2, 3]  [0, 1, 2, 3]
5       [(0, 0), (1, 0), (2, 0), (3, 0.25)]        [0, 3]        [0, 3]
6   [(0, 1), (1, 0.1), (2, -0.8), (3, 0.2)]        [2, 3]        [2, 3]
7        [(0, 0), (1, 0), (2, 0), (3, 0.2)]           [1]           [1]

             mc        mch           occ        travel          type  \
0        [5, 6]     [5, 6]        [5, 6]        [5, 6]        [5, 6]
1  [4, 5, 6, 7]  [5, 6, 7]  [4, 5, 6, 7]  [4, 5, 6, 7]  [4, 5, 6, 7]
2           [5]        [5]           [5]           [5]           [5]
3     [4, 5, 7]  [4, 5, 7]     [4, 5, 7]     [4, 5, 7]     [4, 5, 7]
4  [0, 1, 2, 3]  [0, 1, 3]  [0, 1, 2, 3]  [0, 1, 2, 3]  [0, 1, 2, 3]
5        [0, 3]     [0, 3]        [0, 3]        [0, 3]        [0, 3]
6        [2, 3]     [2, 3]        [2, 3]        [2, 3]        [2, 3]
7           [1]        [1]           [1]           [1]           [1]

        virtual              scores
0        [5, 6]        {5: 1, 6: 2}
1  [4, 5, 6, 7]                  {}
2           [5]              {5: 1}
3     [4, 5, 7]  {4: 1, 5: 1, 7: 2}
4  [0, 1, 2, 3]              {0: 2}
5        [0, 3]     {0: 1, 3: 2.25}
6           [3]            {3: 1.2}
7           [1]                  {}

## Print results

In [55]:
df.iloc[4]

ambition                                    [(0, 1)]
apptype                                            o
freetext    [(0, 1), (1, 0.1), (2, -0.8), (3, -0.2)]
gender                                  [0, 1, 2, 3]
grade                                   [0, 1, 2, 3]
mc                                      [0, 1, 2, 3]
mch                                        [0, 1, 3]
occ                                     [0, 1, 2, 3]
travel                                  [0, 1, 2, 3]
type                                    [0, 1, 2, 3]
virtual                                 [0, 1, 2, 3]
scores                                        {0: 2}
Name: 4, dtype: object