In [1]:
import pandas as pd

## Make data

In [5]:
lists = [[5,6],[4,5,6,7],[5],[4,5,7],[0,1,2,3],[0,3],[2,3],[1]]
tuples = [[(4,1),(5,1),(6,2)],[(4,2)],[(4,3),(5,1)],[(4,1),(5,1),(7,2)],[(0,1)],[(0,1),(1,2),(2,3)],\
          [(0,1),(1,1),(2,1),(3,1)],[(2,2),(3,2)]]

df = pd.DataFrame({'apptype': ['e','e', 'e', 'e', 'o', 'o', 'o', 'o'], 'grade': lists, 'gender': lists, 'mc': lists, \
                   'mch': [[5,6],[5,6,7],[5],[4,5,7],[0,1,3],[0,3],[2,3],[1]], 'occ': lists, 'travel': lists, \
                   'virtual': [[5,6],[4,5,6,7],[5],[4,5,7],[0,1,2,3],[0,3],[3],[1]], 'type': lists, 'ambition': tuples, \
                   'freetext': [[(4,0),(5,0),(6,0),(7,0)],[(4,0),(5,0),(6,0),(7,0)],[(4,0),(5,0),(6,0),(7,0)],\
                                [(4,0),(5,0),(6,0),(7,0)],[(0,1),(1,0.1),(2,-.8),(3,-.2)],[(0,0),(1,0),(2,0),(3,.25)],\
                                [(0,1),(1,.1),(2,-.8),(3,.2)],[(0,0),(1,0),(2,0),(3,.2)]]})

In [6]:
df.head()

,ambition,apptype,freetext,gender,grade,mc,mch,occ,travel,type,virtual
0,"[(4, 1), (5, 1), (6, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]","[5, 6]"
1,"[(4, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]","[4, 5, 6, 7]"
2,"[(4, 3), (5, 1)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]",[5],[5],[5],[5],[5],[5],[5],[5]
3,"[(4, 1), (5, 1), (7, 2)]",e,"[(4, 0), (5, 0), (6, 0), (7, 0)]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]","[4, 5, 7]"
4,"[(0, 1)]",o,"[(0, 1), (1, 0.1), (2, -0.8), (3, -0.2)]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]","[0, 1, 2, 3]"

## Do calculations
1. get individuals with the opposite apptype
2. get the intersection of the entries in gender, grade, mc, mch, oc, travel, type, and virtual
3. ...

In [7]:
df.iloc[0]

ambition            [(4, 1), (5, 1), (6, 2)]
apptype                                    e
freetext    [(4, 0), (5, 0), (6, 0), (7, 0)]
gender                                [5, 6]
grade                                 [5, 6]
mc                                    [5, 6]
mch                                   [5, 6]
occ                                   [5, 6]
travel                                [5, 6]
type                                  [5, 6]
virtual                               [5, 6]
Name: 0, dtype: object

In [9]:
current = df.iloc[0]
opposite_type = 'e' if current['apptype'] == 'o' else 'o'
opposite_indices = list(df[df['apptype'] == opposite_type].index)
actual_matches = set(current['gender']+current['grade']+current['mc']+current['mch']
                       +current['occ']+current['travel']+current['type']+current['virtual'])

In [10]:
print('possible: {}  -- actual: {}'.format(opposite_indices, actual_matches))

all: [4, 5, 6, 7]  -- possible: {5, 6}